.button {
  display: flex;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-transform: uppercase;
  background-color: $basic-green;
  color: $basic-white;
  border: none;
  outline: none;
  cursor: pointer;

  &--secondary {
    background-color: $basic-grey;
    color: $text-color;
  }

  &--range {
    width: 70px;
    min-height: 40px;
    font-size: 16px;
    line-height: 20px;
    background-color: inherit;
    color: $basic-black;
  }
}
