.card {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 40px;
    background-image: linear-gradient($basic-white 80px, $basic-grey 80px);
  }
}

.card__inner {
  display: flex;
  width: 100%;
  margin-top: 1px;
  margin-bottom: 21px;
}

.card__window {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 50%;
}

.card__img {
  position: absolute;
  width: 140px;
  height: auto;
  background: transparent;

  &--chicken-small {
    top: -1px;
  }

  &--chicken-big {
    top: 4px;
  }

  &--fish-small {
    width: 140px;
    top: 18px;
  }

  &--fish-big {
    top: 4px;
  }

  &--buckwheat-small {
    top: 18px;
  }

  &--buckwheat-big {
    top: 5px;
  }

  &--rice-small {
    top: 18px;
  }
}

.card__description {
  width: 50%;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.card__title {
  width: 70%;
  margin: 0;
  margin-bottom: 14px;
  font-family: $oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $text-color-2;
}

.card__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
  }
}

.card__item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid $special-grey;
  }
}

.card__button {
  font-size: 16px;
  line-height: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}
