.catalog {
  display: grid;
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }
}

.catalog__title {
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    padding-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 6px;
    padding-bottom: 40px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 43px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 18px;
  }
}

.catalog__item {
  width: 100%;
  display: flex;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: calc(100% + 40px);
    height: 1px;
    margin-left: -20px;
    background-color: $basic-grey-4;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:last-child::after {
    position: absolute;
    content: "";
    bottom: -25px;
    left: 0;
    width: calc(100% + 40px);
    height: 1px;
    margin-left: -20px;
    background-color: $basic-grey-4;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
