.checkbox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.checkbox__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  margin: 0;
  margin-top: 7px;
  margin-bottom: 17px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.checkbox__button:checked + label::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: 19px 19px;
  background-position: 50%;
}

.checkbox__button:focus + label::before {
  outline: 1px solid $basic-black;
}

.checkbox__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    width: 45.2%;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 20%;
    margin-bottom: 28px;
  }
}

.checkbox__label {
  width: 100%;
  position: relative;
  padding-left: 45px;
  margin-bottom: 20px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-color-2;

  &:active {
    color: rgba($color: $text-color-2, $alpha: 0.3);
  }

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    font-size: 20px;
    line-height: 30px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background-color: $basic-white;
    border: 1px solid $special-grey;
    top: 50%;
    left: 0;
    transform: translateY(-47%);

    @media (min-width: $tablet-width) {
      top: 42%;
      width: 40px;
      height: 40px;
    }
  }

  &:hover::before {
    border: 1px solid $special-grey-4;
  }

  &:active::before {
    border: 1px solid rgba($color:$special-grey-4, $alpha: 0.3);
  }
}
