.contacts {
  position: relative;
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 100vw;
    height: 400px;
  }

  &--grey {
    background-color: $basic-grey;

    @media (min-width: $desktop-width) {
      background-color: transparent;
    }
  }
}

.contacts__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    height: 201px;
    margin-top: 95px;
    padding-left: 76px;
    padding-right: 88px;
    background-color: $basic-white;

    &.container {
      justify-content: flex-start;
    }
  }
}

.contacts__title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
  margin-top: 12px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-color-3;

  @media (min-width: $tablet-width) {
    width: 30%;
    padding-top: 39px;
    padding-left: 41px;
    font-size: 20px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 40%;
    padding-left: 0;
    padding-right: 0;
  }
}

.contacts__address {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    width: 35%;
    padding-top: 43px;
    padding-right: 42px;
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    width: 50%;
    padding-right: 0;
    padding-left: 48px;
  }
}

.contacts__street {
  @media (min-width: $tablet-width) {
    display: flex;
    line-height: 0;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    text-align: start;
  }
}

.contacts__city {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.contacts__map {
  display: flex;
  justify-content: center;
  height: 360px;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100vw;
    height: 400px;
    z-index: -1;
  }
}

.contacts__map iframe {
  border: 0;
  width: 100%;
  height: 100%;
}
