.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover .copyright__logo-academy {
    color: red;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo-academy {
  color: $special-grey-2;
}
