.example {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 26px;
  background-color: $basic-grey-5;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient($basic-white 55%, $basic-grey-5 45%);
  }
}

.example__text {
  width: 100%;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
  }
}

.example__list {
  width: 100%;
  display: flex;
  margin: 0;
  margin-bottom: 10px;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.example__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  margin-right: 30px;
  padding-top: 13px;
  padding-bottom: 17px;
  font-family: $oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  border: 1px solid $special-grey;
  border-radius: 4px;

  &:last-child {
    margin-right: 0;
  }
}

.example__item-value {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
}

.example__item-description {
  position: absolute;
  bottom: -16px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  background-color: $basic-grey-5;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
  }
}

.example__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    width: 50%;
    margin-top: 0;
  }
}

.example__title {
  position: relative;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: -40px;
      width: calc(100% + 80px);
      height: 1px;
      background-color: $basic-grey-2;
    }
  }
}

.example__subtitle {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-left: 3px;
  padding: 0;
  font-family: $oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.example__inner-2 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 33px;
  margin-bottom: 22px;
}

.example__picture {
  display: flex;
  justify-content: center;
}

.example__range {
  width: 100%;
}
