.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    padding-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    padding-bottom: 82px;
  }

  &--container {
    @media (min-width: $tablet-width) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.form__inner-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
    margin-bottom: 60px;
  }
}

.form__sentence {
  width: 90%;
  margin-top: 3px;
  margin-bottom: 38px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    width: 60%;
    margin-top: 21px;
    margin-bottom: 65px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 30%;
    margin-top: 24px;
    margin-bottom: 64px;
    margin-right: 70%;
  }
}

.form__inputs {
  display: flex;
  flex-wrap: wrap;
}

.form__radio {
  display: flex;
  flex-wrap: wrap;
}

.form__checkbox {
  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form__legend {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 14px;
  line-height: 16px;
  color: $basic-black;
  margin-top: 21px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    width: 45%;
    margin-top: 15px;
    margin-bottom: 0;
    padding-left: 18px;
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    justify-content: left;
    width: 46.7%;
    padding-top: 4px;
    padding-left: 0;
  }
}

.form__button {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 45%;
    height: 52px;
    font-size: 20px;
    line-height: 0px;
  }

  @media (min-width: $desktop-width) {
    width: 46.6%;
  }
}
