.inputs {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;

  @media (min-width: $desktop-width) {
    width: 46.6%;
    flex-grow: 0;
  }

  &--contacts {
    width: 100%;
  }
}

.inputs__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }

  &--contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 27px;
    padding-bottom: 0;

    @media (min-width: $tablet-width) {
      margin-top: 45px;
      margin-bottom: 66px;
    }

    @media (min-width: $desktop-width) {
      justify-content: space-between;
      margin-top: 43px;
      margin-bottom: 58px;
    }
  }
}

.inputs__item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
  }

  &--email {
    @media (min-width: $desktop-width) {
      width: 46.8%;
      margin-bottom: 0;
    }
  }

  &--tel {
    @media (min-width: $desktop-width) {
      width: 46.9%;
    }
  }
}

.inputs__label {
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-color;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.inputs__field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
  padding-left: 14px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-left: 15px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-color;
  border: 1px solid $darck-grey-2;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  &--email {
    flex-grow: 1;
    margin-left: 10px;

    @media (min-width: $tablet-width) {
      margin-left: 20px;
      padding-left: 20px;
    }
  }

  &--tel {
    flex-grow: 1;
    margin-left: 10px;

    @media (min-width: $tablet-width) {
      margin-left: 15px;
      padding-left: 18px;
    }
  }
}
