.inputs {
  display: flex;
  flex-wrap: wrap;
}

.inputs__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

.inputs__item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 13px;
}

.inputs__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-color;
}

.inputs__field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-left: 15px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-color;
  border: 1px solid $darck-grey-2;
}
