.page-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $basic-white;
  min-width: 320px;
  overflow: hidden;
}

.page-main__form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 27px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $basic-grey-3;
  }
}
