.page-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $basic-white;
  min-width: 320px;
  overflow: hidden;
}

.page-main__form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 27px;
}
