.page-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.page-main__form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;
  }
}
