.page-header {
  display: flex;
  flex-wrap: wrap;
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 12px;
  background-color: transparent;
  border-bottom: 1px solid $basic-grey-2;

  @media (min-width: $tablet-width) {
    min-width: 767px;
    max-width: 1000px;
    padding-top: 24px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    border: none;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding-top: 52px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.page-header--desktop {
  @media (min-width: $desktop-width) {
    &::after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      width: 50%;
      height: 694px;
      background-color: transparent;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }
}

.page-header__toggle {
  width: 24px;
  height: 16px;
  margin-top: 14px;
  background-color: inherit;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-size: 100% 16px;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;

  // вывод кнопки из невидимости
  &--js {
    display: flex;
    background-image: url("../img/icon-mobile-menu.svg");
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  // смена гамбургера на крестик
  &--close {
    width: 18px;
    height: 18px;
    margin-right: 3px;
    margin-top: 11px;
    background-image: url("../img/icon-close.svg");
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__navigation {
  display: flex;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding-top: 16px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 12px;
  }
}
