.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-width: $mobile-width;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $text-color;
  background-color: $basic-white;

  @media (width: $tablet-width) {
    min-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
  }
}
