.page-footer {
  display: grid;
  align-items: center;
  background-color: $basic-grey;
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.page-footer__copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }

  span {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: $text-color;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }
}
