.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 11px;
  background-color: $basic-white;
  border-bottom: 1px solid $basic-grey-2;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    border: none;
  }
}

.page-header__toggle {
  width: 24px;
  height: 16px;
  background-color: inherit;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  outline: none;
  cursor: pointer;

  &--close {
    width: 18px;
    height: 18px;
    margin-right: 3px;
    margin-top: -10px;
    background-image: url("../img/icon-close.svg");
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__navigation {
  @media (min-width: $tablet-width) {
    padding-top: 16px;
  }
}
