.promo {
  background-image: linear-gradient($basic-green-2 306px, white 306px);
  background-repeat: no-repeat;
  background-size: unset;
  background-position-x: center;
  display: flex;
  width: 100%;

  @media (min-width: $tablet-width) {
    background: none;
  }
}

.promo__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 480px;
  justify-content: center;
  background-color: transparent;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: unset;
  background-position-x: center;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    background: none;
    min-height: 860px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg"), linear-gradient($basic-green-2 306px, white 306px);
    background-size: auto 306px;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
    min-height: 567px;
    margin-bottom: 82px;
    z-index: 1;
    background: none;
    color: $basic-black;
  }
}

.promo__description {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.promo__title {
  width: 100%;
  margin-bottom: 11px;
  margin-top: 27px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    padding-left: 85px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    color: $basic-black;
  }

  @media (min-width: $desktop-width) {
    margin-top: 96px;
    padding-left: 80px;
  }
}

.promo__subtitle {
  width: 100%;
  padding-bottom: 285px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    padding-left: 88px;
    padding-bottom: 27px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    color: $basic-black;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
    padding-bottom: 30px;
  }
}

.promo__picture {
  position: absolute;
  bottom: 44px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    background-color: transparent;
    width: 709px;
    height: auto;
    top: 250px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: auto;
    top: 14px;
    transform: translateX(-29.5%);
  }
}

.promo__button {
  align-self: flex-end;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 14px;
  text-decoration: none;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 244px;
    height: 54px;
    margin-left: 82px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}
