.promo {
  background-image: linear-gradient($basic-green-2 306px, white 306px);
  background-repeat: no-repeat;
  background-size: unset;
  background-position-x: center;
  display: flex;
  width: 100%;

  @media (min-width: $tablet-width) {
    background: none;
  }
}

.promo__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  background-color: transparent;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: unset;
  background-position-x: center;

  @media (min-width: $tablet-width) {
    background: none;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg"), linear-gradient($basic-green-2 306px, white 306px);
    background-size: auto 306px;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
    z-index: 1;
    background: none;
    margin-bottom: 136px;
    color: $basic-black;
  }
}

.promo__description {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.promo__title {
  width: 100%;
  margin-bottom: 10px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    padding-left: 88px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    color: $basic-black;
  }

  @media (min-width: $desktop-width) {
    margin-top: 96px;
    margin-bottom: 0;
    padding-left: 80px;
  }
}

.promo__subtitle {
  width: 100%;
  margin-bottom: 28px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    padding-left: 90px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    color: $basic-black;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 195px;
    padding-left: 80px;
  }
}

.promo__picture {
  @media (min-width: $tablet-width) {
    background-color: transparent;
    display: block;
    width: 709px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: auto;
    margin-top: 14px;
    margin-left: -162px;
  }
}

.promo__button {
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 279px;
    left: 112px;
    width: 244px;
    height: 54px;
    font-size: 20px;
    line-height: 0px;
  }

  @media (min-width: $desktop-width) {
    top: 328px;
    left: 190px;
  }
}
