.radio {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    width: 46.9%;
  }
}

.radio__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  margin: 0;
  margin-bottom: 51px;
  padding: 0;
  padding-top: 11px;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
    border: 1px solid $darck-grey-2;
    padding-top: 28px;
    padding-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 18px;
  }
}

.radio__button:checked + label::before {
  border: 8px solid $basic-white;
  background-color: $basic-green;
  box-shadow: 0 0 0 1px $special-grey;

  @media (min-width: $tablet-width) {
    border: 11px solid $basic-white;
  }
}

.radio__button:focus + label::before {
  box-shadow: 0 0 0 1px $basic-black;
}

.radio__item {
  width: 100%;
  margin-bottom: 23px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    // margin-bottom: 0;
  }
}

.radio__label {
  width: 100%;
  position: relative;
  padding-left: 45px;
  margin-bottom: 20px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-color-2;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 89px;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover::before {
    border: 1px solid $special-grey-4;
  }

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background-color: $basic-white;
    border: 1px solid $special-grey;
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
      left: 28px;
    }
  }
}
