.site-list {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  &--open {
    display: flex;
  }
}

.site-list__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 23px;
  font-family: $oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -20px;
    width: calc(100% + 40px);
    height: 1px;
    background-color: $basic-grey-2;
  }
}

.site-list__link {
  text-decoration: none;
  color: inherit;
}
