.social__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  margin: 0;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 20px;
  list-style: none;

  @media (min-width: $tablet-width) {
    border: none;
    padding-top: 18px;
  }
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
}

.social__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $special-grey-2;

  &:hover {
    color: $basic-green;
  }

  &:active {
    color: $basic-green;
    opacity: 0.3;
  }
}

.social__vk {
  width: 23px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
    margin-top: -2px;
    margin-left: -6px;
  }
}

.social__insta {
  width: 16px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 33px;
    margin-left: -3px;
  }
}

.social__fb {
  width: 22px;
  height: 22px;

  @media (min-width: $tablet-width) {
    width: 28px;
    height: 30px;
    margin-left: -15px;
  }
}
