.textarea {
  display: flex;
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 19px;
  }
}

.textarea__input {
  display: block;
  min-width: 280px;
  min-height: 151px;
  flex-grow: 1;
  padding-top: 14px;
  padding-left: 15px;
  padding-bottom: 16px;
  margin-bottom: 7px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-color;
  border: 1px solid $darck-grey-2;

  @media (min-width: $tablet-width) {
    min-width: 630px;
    min-height: 174px;
    margin-top: 43px;
    margin-bottom: 44px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1220px;
    letter-spacing: -0.1px;
    margin-bottom: 41px;
  }

  &:hover {
    border: 1px solid $special-grey;
  }
}
