.title {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 0;
  padding-bottom: 33px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  &--line {
    &::before {
      position: absolute;
      content: "";
      top: 15px;
      left: -50%;
      width: 200%;
      height: 2px;
      background-color: $basic-green;
      z-index: 0;

      @media (min-width: $tablet-width) {
        top: 22px;
      }

      @media (min-width: $desktop-width) {
        top: 29px;
      }
    }
  }
}

.title__name {
  display: flex;
  margin: 0;
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: -20px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;
  background-color: $basic-white;
  z-index: 1;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 7px;
    margin-left: -37px;
  }
}
