@font-face {
  font-family: "Oswald";
  src: local("Oswald regular"),
    local("Oswald-regular"),
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald medium"),
    local("Oswald-medium"),
    url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.line {
  position: absolute;
  content: "";
  top: 16px;
  right: -40px;
  width: calc(100% + 40px);
  height: 2px;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    top: 22px;
    width: calc(100% + 80px);
  }
}
