@font-face {
  font-family: "Oswald";
  src: local("Oswald regular"),
    local("Oswald-regular"),
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald medium"),
    local("Oswald-medium"),
    url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 319px;
  max-width: 550px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 767px;
    max-width: 1000px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.br {
  @media (min-width: $tablet-width) {
    display: block;
    min-width: 767px;
    max-width: 1000px;
    padding-left: 0;
    padding-right: 30px;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
