.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  background-color: $darck-grey;
  width: 320px;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $text-color;

  @media (min-width: 768px) {
    width: 768px;
  }
}
