.promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
