.page-header__toggle {
  width: 18px;
  height: 18px;
  background-color: inherit;
  background-image: url("../../img/icon-close.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  outline: none;
}
